<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CsvFilePath" value="aaa.csv" />
    <add key="CsvColumnDelimiter" value="|" />
    <add key="CsvRowDelimiter" value="&#xD;&#xA;" />
    <add key="CsvTextQualifier" value="&quot;" />
    <add key="CsvEncoding" value="UTF-8" />
    <add key="CsvTrailerFieldCount" value="2" />

    <add key="SchemaName" value="dbo" />
    <add key="ColumnSize" value="1024" />
    <add key="ADODBConn" value="Data Source=aaa;Initial Catalog=xxx;User ID=myUsername;Password=myPassword;Application Name=CsvToSQLTable" />
  </appSettings>
</configuration>