<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CsvFilePath" value="C:\data\airports.csv" />
    <add key="CsvColumnDelimiter" value="," />
    <add key="CsvRowDelimiter" value="&#xD;&#xA;" />
    <add key="CsvTextQualifier" value="&quot;" />
    <add key="CsvIsEscapeQualifier" value="true" />
    <add key="CsvEncoding" value="UTF-8" />
    <add key="SchemaName" value="DBO" />
    <add key="ColumnSize" value="1024" />
    <add key="CsvTrailerFieldCount" value="0" />
    <add key="ADODBConn" value="Data Source=aaa;Initial Catalog=xxx;User ID=myUsername;Password=myPassword;Integrated Security=False;Initial Catalog=YYZ;Application Name=CsvToSQLTable;" />
  </appSettings>  
</configuration>